products_Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ProductService"
    targetNamespace="http://yourdomain.com/soap/products"
	xmlns:tns="http://yourdomain.com/soap/products"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

	<!-- Define Complex Types -->
	<types>
		<xsd:schema targetNamespace="http://yourdomain.com/soap/products">
			<xsd:complexType name="Product">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="price" type="xsd:float"/>
					<xsd:element name="image" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfProduct" type="tns:Product" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:schema>
	</types>

	<!-- Define Messages and Operations -->
	<message name="fetchProductsRequest"/>
	<message name="fetchProductsResponse">
		<part name="products" element="tns:ArrayOfProduct"/>
	</message>
	
	<!-- Define Port Type (Interface) -->
	<portType name="ProductServicePortType">
		<operation name="fetchProducts">
			<input message="tns:fetchProductsRequest"/>
			<output message="tns:fetchProductsResponse"/>
		</operation>
	</portType>
	
	<!-- Define Binding -->
	<binding name="ProductServiceBinding" type="tns:ProductServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="fetchProducts">
			<soap:operation soapAction="C:\Program Files (x86)\EasyPHP-Devserver-17\eds-www\CanDar Sports Tech\products_Service.wsdl#fetchProducts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	<!-- Define Service and Port -->
	<service name="ProductService">
		<port name="ProductServicePort" binding="tns:ProductServiceBinding">
			<soap:address location="C:\Program Files (x86)\EasyPHP-Devserver-17\eds-www\CanDar Sports Tech\products_Service.wsdl"/>
		</port>
	</service>
</definitions> 